<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Welcome to the TA Scheduler</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'manage_course' %}">Manage Courses</a></li>
            <li><a href="{% url 'manage_section' %}">Manage Sections</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
</body>
</html>
