{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Courses</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>My Courses</h1>
        </header>

        <table class="user-table">
            <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Semester</th>
                    <th>Description</th>
                    <th>Modality</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ course.course_id }}</td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.semester }}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ course.modality }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No courses found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <footer>
            <a href="{% url 'home_instructor' %}" class="nav-button back-to-dashboard">Back to Dashboard</a>
        </footer>
        
    </div>
</body>
</html>
